@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');


/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */

.hover-op-0:hover {
  opacity: 0 !important;
}

.hover-hover-op-1:hover {
  opacity: 0.1 !important;
}

.hover-op-2:hover {
  opacity: 0.2 !important;
}

.hover-op-3:hover {
  opacity: 0.3 !important;
}

.hover-op-4:hover {
  opacity: 0.4 !important;
}

.hover-op-5:hover {
  opacity: 0.5 !important;
}

.hover-op-6:hover {
  opacity: 0.6 !important;
}

.hover-op-7:hover {
  opacity: 0.7 !important;
}

.hover-op-8:hover {
  opacity: 0.8 !important;
}

.hover-op-9:hover {
  opacity: 0.9 !important;
}

.hover-op:hover {
  opacity: 1 !important;
}

.login-screen-content {
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
  max-height: 100%;
  width: 100%;
  background: #e7434300;
}

.simple {
  pointer-events: none !important;
  opacity: 0.5;
}

.required-validate[validate="false"] {
  pointer-events: none !important;
  opacity: 0.5;
}

.isfresh[pk="undefined"] {
  background: aliceblue;
}

.parent {
  position: relative;
}

.child {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.links-list a:after, .list .item-inner:after, .simple-list li:after {
  height: 1px !important;
}

.disable {
  display: none;
}

.custom-timlie-datetime {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  width: 110px !important;
  text-align: center;
}

.jsoneditor-frame {
  display: none;
}

.jsoneditor-poweredBy {
  display: none;
}

.title-icon {
  font-size: 18px !important;
  padding-top: 15px;
  padding-right: 12px;
}

.drawflow_content_node {
  width: 100%;
}

.shroud {
  position: absolute;
  width: 1000%;
  height: 1000%;
  top: -100%;
  left: -100%;
  background: #ffffff8c;
  z-index: 10;
}

.drawflow .input:after{
  display: none !important;
}

.drawflow a.rollback {

   float: right;
    padding-top: 12px;
    margin-right: 10px;
    color: red;
    padding-left: 0px;
    margin-left: 20px;

  }

.drawflow a.done {
    float: right;
    padding-top: 12px;
    margin-right: 10px;
    color: green;
}

.drawflow a.block-type {
  float: right;
  padding-top: 12px;
  margin-right: 10px;
  color: rgba(128, 128, 128, 0.4);
  display: none;
}

.popup {
  z-index: 99999;
}

.smart-select-value {
  display: none !important;
}

/*
.drawflow input{
  border: none ;
}
*/

.title-box .rollback {
  float: right;
  padding-top: 12px;
  margin-right: 10px;
  color: red;
  display: none
}

.title-box .done {
  float: right;
  padding-top: 12px;
  margin-right: 10px;
  color: green;
  display: none
}

.title-box .edit {
  float: right;
  padding-top: 12px;
  margin-right: 10px;
  color:#80808066
}

.title-box .name {
  width: 100%;
  padding-right: 30px;
}

.title-box .preloader-inner {
  width: 20px;
  height: 20px;
  top: 15px;
  left: -10px;
}

.box {
  padding: 0;
  margin: 0;
  background: none;
}

.button-draft {
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-weight: bold;
  border: 1px solid darkgray;
  background: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

.button-publish {
  float: right;
  position: absolute;
  top: 10px;
  right: 155px;
  color: white;
  border: 1px solid darkgray;
  background: #4cd964;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
  display: none;
}

.menu .breadcrumbs {
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #f7f7f7;
}

.node-group {
  font-weight: 100;
  color: #80808075;
  font-size: 16px;
  display: flex;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.node-group-title {
    float: right;
    width: 100%;
    text-align: center;
}

.node-group-icon {
  font-size: 22px !important;
  float: right;
}

.drawflow .list ul:before{
  height: 0px !important;
}

.drawflow_content_node .item-content {
  background: #f7f7f7;
}

.drawflow_content_node .item-inner {
  background: white;
}

.drawflow .inputs{
  z-index: 10;

}